.formulario__listas {
    list-style: none;
    width: 390px;
    height: 180px;
    padding-top: 15px;
  }
  
  .formulario__label{
    font-family: 'Lato', sans-serif;
  }
  
  
  .formulario__btn{
    background-color: #d1b360;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    border-color: rgb(59, 33, 2)  ;
  }