// Colores //
$background-color: #eee8c9;
$highlight-color: rgb(59, 33, 2);
$form-color: #d1b360;
$btn-color: rgba(245, 195, 86, 1);
$hover-color: rgb(235, 203, 63);


// Sombras//
$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);

// Fuentes //
$font-general: 'Lato', sans-serif;
$font-title: 'Courgette', cursive;

